# Python virtual environments
.venv/
.venv-*/

# vscode settings
.vscode/
.VSCodeCounter/

# Visual Studio settings
.vs/

# clangd cache
.cache/

# CMake build directory
build/

# Scikit-build directory
_skbuild/

# Temp directory (test output files)
temp/

# Notebooks directory
notebooks/

# Python .egg-* files/directories
*.egg-*

# Compiled Cython files
*.pyc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
